@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 400px);
            column-gap: 70px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3, 300px);
            gap: 20px;
        }
        &__ratings {
            grid-template-columns: repeat(2, 440px);
            column-gap: 80px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 250px;
            justify-content: space-around;
            row-gap: 35px;
            .horizontal,
            .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 400px 460px;
            column-gap: 40px;
        }
        &__form {
            grid-template-columns: repeat(2, 200px);
        }
        .btn {
            padding: 12px 23px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 40px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 60px;
        &__wrapper {
            padding: 60px 40px 0 40px;
            grid-template-columns: repeat(2, 330px);
            column-gap: 50px;
        }
        &__item {
            &-body {
                width: 300px;
            }
        }
    }
    .skills {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: repeat(2, 330px);
            column-gap: 40px;
        }
        &__ratings {
            margin-top: 60px;
            grid-template-columns: repeat(2, 340px);
            column-gap: 40px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 350px);
            padding: 0;
        }
    }
    .contacts {
        &__wrapper {
            padding: 0 10px 0 25px;
            grid-template-columns: 300px 350px;
        }
        &__form {
            grid-template-columns: repeat(2, 170px);
        }
        .btn {
            padding: 3px 20px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto/ 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 50px 20px 0 20px;
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
        &__item {
            &-body {
                width: 100%;
            }
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__ratings {
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }
    .price {
        padding-top: 40px;
        &__wrapper {
            margin-top: 40px;
            justify-content: center;
        }
    }
    .contacts {
        padding-top: 40px;
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
            line-height: 36px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .divider {
        margin-top: 15px;
    }
    .menu {
        background: url("../img/main_bg.jpg") no-repeat 57% / cover;
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        &__buttons {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto/ 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 50px;
        &__wrapper {
            padding: 40px 10px 0 10px;
        }
    }
    .skills {
        &__wrapper {
            margin-top: 20px;
            row-gap: 20px;
            grid-template-columns: 1fr;
        }
        &__ratings {
            margin-top: 40px;
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }
    .portfolio {
        padding-top: 40px;
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 295px);
            margin-top: 20px;
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__form {
            grid-template: 47px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}
