.skills {
    padding-top: 120px;
    &__title {
        text-align: center;
        position: relative;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__wrapper {
        margin-top: 60px;
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
    }
    &__item {
        border: 1px solid #000000;
        padding: 30px 30px 25px 30px;
        &-img {
            display: flex;
            align-items: center;
            min-height: 65px;
        }
        &-title {
            margin-top: 20px;
            margin-bottom: 0;
        }
        &-body {
            margin-top: 15px;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__ratings {
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, minmax(70px, auto));
        grid-auto-rows: minmax(70px, auto);
        column-gap: 45px;
        row-gap: 30px;
        &-item {
            display: grid;
            grid-template: minmax(21px, auto) 14px / 200px 35px;
            justify-content: space-between;
            align-content: space-between;
        }
        &-title {
            position: relative;
            padding: 2px 0 0 13px;
            @include before_circle;
        }
        &-percent {
            font-size: 14px;
            line-height: 21px;
        }
        &-line {
            width: 100%;
            height: 14px;
            grid-column-start: 1;
            grid-column-end: 3;
            background-color: #e8e4de;
            border-radius: 4px;
            span {
                border-radius: 4px;
                display: block;
                height: 100%;
                background-color: $main-color;
            }
        }
    }
}
